work/
!work/
work/*
!work/immanent-case-v4/
!work/immanent-case-v4/**
!work/immanent-brand-v4/
!work/immanent-brand-v4/**
dist/
node_modules/
work-bg-sheet.jpg
work-bg-v3-sheet.jpg
work-source-sheet.jpg
